*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #0c0a18;
}
.main-loader{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 20px;
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.loader div{
    width: 12px;
    height: 12px;
    background-color: orange;
    border-radius: 50%;
    animation-name: loader;
    animation-duration: 0.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
.loader div:nth-child(2){
    animation-delay: 0.17s;
}
.loader div:nth-child(3){
    animation-delay: 0.35s;
}
.loader div:nth-child(4){
    animation-delay: 0.52s;
}
@keyframes loader {
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-20px);
    }
}